{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<a class="btn btn-primary" role="button" href="{% url 'blog:create_blog'%}">Создать статью</a>
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <div><img class="card-img-top" src="{{ product.image | media_filter }}"></div>
                <h4 class="my-0 font-weight-normal">{{ product.title }}</h4>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" role="button"
                   href="{% url 'blog:view_blog' product.pk %}">Посмотреть</a>
                <a class="btn btn-primary" role="button"
                   href="{% url 'blog:edit_blog' product.pk %}">Редактировать</a>
                <a class="btn btn-primary" role="button"
                   href="{% url 'blog:delete_blog' product.pk %}">Удалить</a>
            </div>
        </div>
        <div class="coll-6">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}